<nav class="navbar">
    <div class="navbar-brand"><i class="fa-solid fa-paw"></i></div>
    <ul class="navbar-links">
        <li><a href="/login"><i class="fa-solid fa-user" style="font-size: 18px;"></i></a></li>
        <li><a href="/honden">Honden</a></li>
        <li><a href="/baasjes">Baasjes</a></li>
    </ul>

</nav>